a {
  text-decoration: none;
  color: #222;

}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #222;
}

body {
}
.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.GridCell {
  flex: 1;
}
.GridCell25 {
  flex: 2.5;
}
.GridCell75 {
  flex: 7.5;
}

.GridCenter {
  align-items: center;
}
